::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 3px;
}

.u-inline{
    display: inline-block;
}

.form-group {
    margin-bottom: 15px;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

label {
    display: inline-block;
    max-width: 100%;
    margin: 0 0 5px 5px;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
}

.data-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
}

.data-table th span, .data-table td span{
    padding-left: 5px;
}

.data-table-btn{
    vertical-align: middle;
    text-align: center;
}

.u-inline {
    display: inline-block;
}

.btn-group{
    display: inline-block;
}

.dialog-content {
    padding: 15px;
}

.property-label {
    margin-bottom: 10px !important;
}

.property-label .u-form-item-label {

}

.property-quote {
    padding-left: 10px;
    line-height: 1.8;
    /*border-left: 5px solid #00554a;*/
    border-radius: 0 2px 2px 0;
    margin: 10px 0;
    background-color: #fafafa;
}

.aux-code {
    cursor: pointer;
    user-select: all;
    background: #f5f5f5;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}

