@font-face {
  font-family: "iconfont"; /* Project id 5096141 */
  src: url('iconfont.woff2?t=1778035245300') format('woff2'),
       url('iconfont.woff?t=1778035245300') format('woff'),
       url('iconfont.ttf?t=1778035245300') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vertical-align-middle:before {
  content: "\e6a3";
}

.icon-background:before {
  content: "\e611";
}

.icon-double-slash:before {
  content: "\e70d";
}

.icon-save2:before {
  content: "\e69d";
}

.icon-preview:before {
  content: "\e637";
}

.icon-merge:before {
  content: "\e603";
}

.icon-hand-up:before {
  content: "\e602";
}

.icon-database:before {
  content: "\e687";
}

.icon-filter:before {
  content: "\e672";
}

.icon-save-as:before {
  content: "\e69c";
}

.icon-view-page:before {
  content: "\e7b1";
}

.icon-justify-bottom:before {
  content: "\e609";
}

.icon-justify-top:before {
  content: "\e8c4";
}

.icon-plus-circle:before {
  content: "\e664";
}

.icon-minus-circle:before {
  content: "\e677";
}

.icon-leaf:before {
  content: "\e779";
}

.icon-sqlds:before {
  content: "\e600";
}

.icon-property:before {
  content: "\e601";
}

.icon-barcode:before {
  content: "\e613";
}

.icon-clean-content:before {
  content: "\e63e";
}

.icon-clean-style:before {
  content: "\e6c3";
}

.icon-insertrow:before {
  content: "\e6ed";
}

.icon-insert-column:before {
  content: "\e6ee";
}

.icon-deletecolumn:before {
  content: "\e6ef";
}

.icon-deleterow:before {
  content: "\e6f0";
}

.icon-copy:before {
  content: "\ec7a";
}

.icon-clean:before {
  content: "\e946";
}

.icon-paste:before {
  content: "\e610";
}

.icon-title:before {
  content: "\e8ad";
}

.icon-header-repeat:before {
  content: "\e8af";
}

.icon-footer-repeat:before {
  content: "\e8ae";
}

.icon-summary:before {
  content: "\e8b0";
}

.icon-height:before {
  content: "\e673";
}

.icon-width:before {
  content: "\e696";
}

.icon-qrcode:before {
  content: "\e646";
}

.icon-line:before {
  content: "\e6ac";
}

.icon-bar:before {
  content: "\eb96";
}

.icon-scatter:before {
  content: "\e62f";
}

.icon-radar:before {
  content: "\e640";
}

.icon-pie-chart:before {
  content: "\e866";
}

.icon-doughnut:before {
  content: "\e684";
}

.icon-bubble:before {
  content: "\e8ed";
}

.icon-polar:before {
  content: "\e60f";
}

.icon-area:before {
  content: "\e8a3";
}

.icon-horizontal-bar:before {
  content: "\e68d";
}

.icon-slash-header:before {
  content: "\e6fd";
}

.icon-full-border:before {
  content: "\eafe";
}

.icon-bottom-border:before {
  content: "\eaff";
}

.icon-top-border:before {
  content: "\eb00";
}

.icon-no-border:before {
  content: "\eb01";
}

.icon-left-border:before {
  content: "\eb02";
}

.icon-right-border:before {
  content: "\eb03";
}

.icon-table:before {
  content: "\eb95";
}

.icon-loading:before {
  content: "\e891";
}

.icon-share:before {
  content: "\ed2e";
}

.icon-form-design:before {
  content: "\eb94";
}

.icon-undo:before {
  content: "\e830";
}

.icon-redo:before {
  content: "\e86e";
}

.icon-search:before {
  content: "\e63c";
}

.icon-settings:before {
  content: "\eb8d";
}

.icon-font-family:before {
  content: "\eb99";
}

.icon-open:before {
  content: "\ebdf";
}

.icon-checked-solid:before {
  content: "\ebef";
}

.icon-unchecked:before {
  content: "\ebf0";
}

.icon-checked:before {
  content: "\ebf1";
}

.icon-refresh:before {
  content: "\ec08";
}

.icon-save:before {
  content: "\ec09";
}

.icon-publish:before {
  content: "\ec0a";
}

.icon-folder:before {
  content: "\ec17";
}

.icon-doc:before {
  content: "\ec18";
}

.icon-bmp:before {
  content: "\ec19";
}

.icon-gif:before {
  content: "\ec1a";
}

.icon-jpg:before {
  content: "\ec1b";
}

.icon-png:before {
  content: "\ec1c";
}

.icon-more:before {
  content: "\ec1d";
}

.icon-cloud-download:before {
  content: "\ec1e";
}

.icon-cloud-upload:before {
  content: "\ec1f";
}

.icon-delete:before {
  content: "\ec7b";
}

.icon-link:before {
  content: "\ec7f";
}

.icon-image:before {
  content: "\ec80";
}

.icon-unarrange-order:before {
  content: "\ec81";
}

.icon-center-align:before {
  content: "\ec82";
}

.icon-arrange-order:before {
  content: "\ec83";
}

.icon-right-align:before {
  content: "\ec84";
}

.icon-font-code:before {
  content: "\ec85";
}

.icon-font-bold:before {
  content: "\ec86";
}

.icon-font-title:before {
  content: "\ec87";
}

.icon-font-underline:before {
  content: "\ec88";
}

.icon-font-italic:before {
  content: "\ec89";
}

.icon-font-color:before {
  content: "\ec8a";
}

.icon-left-align:before {
  content: "\ec8b";
}

.icon-view:before {
  content: "\ec8c";
}

.icon-justify:before {
  content: "\ec8d";
}

.icon-edit:before {
  content: "\ec8e";
}

.icon-check:before {
  content: "\ec9e";
}

.icon-close:before {
  content: "\eca0";
}

.icon-star-on:before {
  content: "\eca6";
}

.icon-star-off:before {
  content: "\eca7";
}

.icon-question:before {
  content: "\ed19";
}

.icon-error:before {
  content: "\ed1a";
}

.icon-success:before {
  content: "\ed1b";
}

.icon-info:before {
  content: "\ed1c";
}

.icon-warning:before {
  content: "\ed1d";
}

.icon-top:before {
  content: "\e658";
}

.icon-left:before {
  content: "\e659";
}

.icon-bottom:before {
  content: "\e65a";
}

.icon-right:before {
  content: "\e65b";
}

